node_modules
.env*
!.env.sample
coverage
coverage.json

# yarn
yarn-error.log
.yarnrc
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# hardhat
cache
/packages/client/src/libs/hardhat/artifacts/*
!/packages/client/src/libs/hardhat/artifacts/contracts

# client
.next
